<% case game.status %>
<% when 'blackjack' %>
  <div class="alert alert-success" role="alert">
    <strong>Blackjack! You win!</strong> - You have blackjack!
  </div>
<% when 'win' %>
  <div class="alert alert-success" role="alert">
    <strong>You win!</strong> - 
    <% if game.dealer_pts == 'bust' %>
      You win with <%= game.player_pts %> points. The dealer has bust!
    <% else %>
      Your <%= game.player_pts %> points is greater than the dealer's <%= game.dealer_pts %> points!
    <% end %>
  </div>
<% when 'tie' %>
  <div class="alert alert-info" role="alert">
    <strong>It's a tie!</strong> - 
    <% if game.player_pts == 'blackjack' %>
      You and the dealer both have blackjack!
    <% else %>
      You and the dealer both have <%= game.player_pts %> points!
    <% end %>
  </div>
<% when 'lose' %>
  <div class="alert alert-danger" role="alert">
    <strong>Sorry, you lose!</strong> - 
    <% if game.player_pts == 'bust' %>
      You have bust!
    <% elsif game.dealer_pts == 'blackjack' %>
      The dealer has blackjack!
    <% else %>
      Your <%= game.player_pts %> points is less than the dealer's <%= game.dealer_pts %> points!
    <% end %>
  </div>
<% end %>