<!DOCTYPE html>
<div class="dealer">
  <h1>Dealer: </h1>
  <h2>Hello, please place your bets on this page.  You may be any dollar amount up to your total bank.  If you try to make a bet larger than your bank, your bet will become the total amount left in your bank.</h2>
</div>

<% session["num_players"].to_i.times do |p| %>
  <div class="players">
    <h1><%= "Player #{p + 1}:" %> </h1>
    <h3>Bet:
    <form action="bet" method="post">
      <input type="text" name="bet" '<%= session["turn"] == p  ? disabled="false" : disabled="true" %>'>
      <br />
      <input type="submit" value="Make Bets" style='<%= session["turn"] == p ? "visibility: visible;" : "visibility: hidden;"%>'>
    </form></h3>
    <h3>Bank: $ <%= session["player#{p}_bank"] %></h3>
  </div>
<% end %>

<div class="players">
  <% if session["ai"] %>
    <h1>Ben: </h1>
    <h3>Bet:
    <form>
      <input type="text" value="????" disabled="true" style="margin-bottom: 1px;">
      <br />
      <br />
    </form></h3>
    <h3>Bank: $ <%= session["ai_bank"] %></h3>
  <% end %>
</div>
