<!DOCTYPE html>
<div class="dealer">
  <h1>Dealer: </h1>
  <h2>Hello, please place your bets on this page.  You may be any dollar amount up to your total bank.  If you try to make a bet larger than your bank, your bet will become the total amount left in your bank.</h2>
</div>

<% session["num_players"].times do |p| %>
  <div class="players">
    <h1><%= session["player#{p}"].name %> </h1>
    <h3>Bet:
      <form action="place_bet" method="post">
        <input type="text" name="bet" <%= session["turn"] != p ? "disabled" : "enabled autofocus" %> >
        <br />
        <input type="submit" value="Place Bet" style='<%= session["turn"] == p ? "visibility: visible;" : "visibility: hidden;"%>'>
      </form>
    </h3>
    <h3>Bank: $ <%= session["player#{p}"].chips %></h3>
  </div>
<% end %>

<div class="players">
  <% if session["ai"] %>
    <h1>Ben: </h1>
    <h3>Bet:</h3>
    <h3>Bank: $ <%= session["ai"].chips %></h3>
  <% end %>
</div>
