<!-- dealer hand info -->
<h2>Dealer's Hand:</h2>
  <p><%= @dealer.hand %></p>
<h2> Dealer's Total Points: <%= @dealer_score %></h2>
  <% if @dealer_score > 21 %>
    BUST!!
  <% end %>


<!-- player hand info -->
<h2>Your Hand:</h2>
  <p><%= @user.hand %></p>
<h2>Your Total Points: <%= @user_score %></h2>
<h3>Current Bet: $<%= @user.bet %></h3>


<!-- winning message/logic -->
<h1><% if @user_score > 21 %>
    BUST!
    <br>
    Sorry you just lost $<%= @user.bet %>
  <% elsif @dealer_score > 21 %>
    DEALER BUSTS
    <br>
    Yay! you just won $<%= (@user.bet * 2) %>
  <% elsif @dealer_score > @user_score %>
    DEALER WINS!
    <br>
    Sorry you just lost $<%= @user.bet %>
  <% elsif @dealer_score == @user_score %>
    PUSH - at least you get to keep your bet!
  <% else %>
    YOU WIN!
    <br>
    Yay! you just won $<%= (@user.bet * 2) %>
  <% end %></h1>
<h2>Your Bankroll: $<%= @user.bankroll %></h2>
<br>
<br>

<!-- buttons -->
<form action = "/blackjack/hit" method = "post">
  <input type = "button" value = "HIT" name = "hit">
</form>
<form action = "/blackjack/stay" method = "get">
  <input type = "button" value = "STAY" name = "stay">
</form>
<% if @user.bankroll == 0 %>
  <p> You can't play again with no money, but you can start a...</p>
<% else %>
  <form action = "/blackjack/play_again" method = "get">
    <input type = "submit" value = "PLAY AGAIN?" name = "play_again">
  </form>
<% end %> 
<form action = "/blackjack/new_game" method = "get">
  <input type = "submit" value = "NEW GAME?" name = "new_game">
</form>
