<% unless outcome.nil? %>
  <%= erb :"shared/outcome", locals: { dealer: session[:dealer], player: session[:player], bankroll: session[:bankroll], outcome: session[:outcome]} %>
<% end %>


<h5>Dealers hand: <%= dealer %> </h5>
<h5>Players hand: <%= player %> </h5>
<h5>Bankroll: <%= bankroll %></h5>

<% unless bet.nil? %>
  <h5>Bet: <%= bet %></h5>
<% end %>




<% if outcome.nil? %>

  <form action='/blackjack/hit' method='post'>
    <button type="submit" class="btn btn-default">Hit</button>
  </form>

  <form action='/blackjack/stay' method='post'>
    <button type="submit" class="btn btn-default">Stay</button>
  </form>

<% else %>

  <form action='/new' method='get'>
    <button type="submit" class="btn btn-default">Play Again</button>
  </form>

<% end %>



<% unless deck.nil? %>
  <h5>Current shoe: <%= deck %> </h5>
<% end %>



