<%if message%>
<h2 class="title"><%=message%>
<% end%>
<%if message%>
<form method="post" action="next_hand">
  <button class="btn btn-primary btn-lg" type="submit" value="next_hand">Next Hand</button>
</form>
<%end%>

<%if message%>
<h2 class="title">Dealer: <%= dealer_sum%></h2>
<%else%>
<h2 class="title">Dealer</h2>
<%end%>
<ul class="title">
  <%if message%>
    <% dealer_hand.each do |card| %>
    <li><img width=150px height=200px src = "/Classic/<%=card[1]%><%=card[0]%>.png"></li>
    <%end%>
  <%else%>
    <li><img width=150px height=200px src="/Classic/<%= dealer_hand[0][1] %><%= dealer_hand[0][0] %>.png"></li>
  <%end%>
</ul>

<h2 class="title">Player: <%= player_sum%></h2>
<ul class="title">
  <%player_hand.each do |card| %>
  <li><img width=150px height=200px src = "/Classic/<%=card[1]%><%=card[0]%>.png"></li>
  <%end%>
</ul>

<% unless message %>
<ul class="title">
  <li>
    <form method="post" action="hit">
      <button class="btn btn-primary btn-lg" type="submit" value="hit">Hit</button>
    </form>
  </li>
  <li>
    <form method="post" action="stand">
      <button class="btn btn-primary btn-lg" type="submit" value="Stand">Stand</button>
    </form>
  </li>
</ul>
<% end %>  

<!--
<button type="submit" value="Double">Double Down</button>
<button type="submit" value="Split">Split</button>
-->


