<h3> Player Bet: <%=bet%>, Totals: <%=totals%> </h3>
<p></p>

<h3> Player Cards </h3>

<% player_deck.each do |card| %>
  <p>Player Card: <%= card %></p>
<% end %>

<h3> Dealer Cards </h3>

<% dealer_deck.each do |card| %>
  <p>Dealer Card: <%= card %></p>
<% end %>

<% if loser %>
   <p><%= loser.upcase %> lost!</p>
   <%= erb :"lost", :locals => {:player_deck => player_deck, :dealer_deck => dealer_deck, :loser => loser, :hit => hit} %>
<% else %>
   <%= erb :"continue_playing", :locals => {:player_deck => player_deck, :dealer_deck => dealer_deck, :loser => loser, :hit => hit} %>
<% end %>
