<h3>Player's Hand</h3>

<p>
  <%= @player_hand[1..-1].join(" ") %> ~> total: <%= @player_hand[0] %>

  <% if @player_hand[0] > 21 %>
    <strong>BUSTED</strong>
  <% end %>

</p>


<h3>Dealer's Hand</h3>
<p>
  <%= @dealer_hand[1..-1].join(" ") %> ~> total: <%= @dealer_hand[0] %>

  <% if @dealer_hand[0] > 21 %>
    <strong>BUSTED</strong>
  <% end %>

</p>


<p><strong><%= @win_message if !@win_message.nil? %></p></strong>


<% if player_turn == true %>
  <form action='/blackjack/hit' method='post'>
    <input type='submit' value='Hit'>
  </form>

  <form action='/blackjack/stay' method='post'>
    <input type='submit' value='Stay'>
  </form>

<% else %>
  <form action='/blackjack' method='get'>
    <input type='submit' value='Play again?'>
  </form>

<% end %>