<%= erb :'header' %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title text-center">Dealer</h2>
      </div>
      <div class="panel-body">
        <h4 class="text-center">Cards in hand</h4>

        <hr>

        <% if @blackjack.round_over %>
          <% @dealer.hand.each do |card| %>
            <p class="text-center"><%= @blackjack.render(card) %></p>
          <% end %>
        <% else %>
          <p class="text-center">(First card hidden)</p>
          <% @dealer.hand[1..-1].each do |card| %>
            <p class="text-center"><%= @blackjack.render(card) %></p>
          <% end %>
        <% end %>

        <hr>

        <% if @blackjack.round_over %>
          <p class="text-center"><em><%= @blackjack.points(@dealer.hand) %> points</em></p>
        <% else %>
          <p class="text-center"><em><%= @blackjack.points(@dealer.hand[1..-1]) %> points</em></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h2 class="panel-title text-center">Player</h2>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-center">Cards in hand</h4>

            <hr>

            <% @player.hand.each do |card| %>
            <p class="text-center"><%= @blackjack.render(card) %></p>
            <% end %>

            <hr>

            <p class="text-center"><em><%= @blackjack.points(@player.hand) %> points</em></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="text-right">Bet: <strong>$<%= @player.bet %></strong></p>
            <p class="text-right">Balance: <strong>$<%= @player.balance %></strong></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<% unless @blackjack.round_over %>
  <form action="/blackjack/hit" method="post">
    <input type="submit" value="HIT">
  </form>

  <form action="/blackjack/stay" method="get">
    <input type="submit" value="STAY">
  </form>
<% else %>
  <h2>Round results</h2>
  <% case(@blackjack.round_winner) %>
  <% when :player %>
    <% if @blackjack.blackjack?(@player.hand) %>
      <p>The Player wins!! BLACKJACK!!</p>
    <% else %>
      <p>The Player wins!!</p>
    <% end %>
  <% when :dealer %>
    <% if @blackjack.blackjack?(@dealer.hand) %>
      <p>The Dealer wins!! BLACKJACK!!</p>
    <% else %>
      <p>The Dealer wins!!</p>
    <% end %>
  <% when :tie %>
    <p>It's a tie!!</p>
  <% end %>

  <form action="/bet" method="get">
    <input type="submit" value="Bet Again">
  </form>
  <form action="/" method="get">
    <input type="submit" value="Start Over">
  </form>
<% end %>
