  <% bet = params[:bet] unless bet %>
  <h3>Bank: $<%= bank %>   Bet: $<%= bet %></h3>

  <div class="container-fluid">

    <div class="row">
      <% unless game_over %>
        <h3 class="text-center">Dealer Hand</h3>

        <div class="col-xs-12">
          <img src="/images/playing_cards/card_back.jpg" style="width: 150px;">
          <img src="/images/playing_cards/<%= dealer_hand[0] %>.svg" style="width: 130px;">
        </div>

      <% else %>
        <h3 class="text-center">Dealer Hand (Score: <%= dealer_score %>)</h3>
        <%= erb :'shared/display_cards', locals: { hand: dealer_hand } %>

      <% end %>

      <div class="row"><h3 class="text-center">Your Hand (Score: <%= player_score %>)</h3></div>

      <div class="col-xs-12 ">
        <%= erb :'shared/display_cards', locals: { hand: player_hand } %>
      </div>
    </div>


      <% if player_score > 21 %>
        <h3> Game over, you busted! </h3>
        <%= erb :'shared/game_over', locals: { bet: bet, bank: bank, dealer_score: dealer_score, player_score: player_score } %>

      <% elsif !game_over %>
        <form method="post" action="/blackjack/hit/<%= bet %>" class="form">
          <input class="btn btn-success" style="display:inline-block" type = "submit" value = "Hit!" >

        </form>

        <form class="form" method="get" action="/blackjack/dealer/<%= bet %>">
          <input class="btn btn-default" style="display:inline-block" type = "submit" value = "Stay" >
        </form>

      <% else %>

        <h2>Game over. <%= who_won(dealer_score, player_score) %> won! </h2>

        <%= erb :'shared/game_over', locals: { bet: bet, bank: bank, dealer_score: dealer_score, player_score: player_score } %>

      <% end %>

  </div>