<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>Bankroll: $<%= @user.bankroll %> |  Bet: $<%= @user.bet %></h1>
    </div>
  </div>
</nav>

<div class="alert alert-info">
  <% if @user_score == 21 %>
    <h2>BLACKJACK!!! CONGRATULATIONS! YOU WON $<%= @user.bet * 2.5 %></h2>
  <% else %>
    <h2>BLACKJACK!!! DEALER WINS!</h2>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1>Dealer:</h1>
      <h3><strong>Hand:</strong> <%= @dealer.hand %></h3>
      <h3><strong>Total Points:</strong> <%= @dealer_score %></h3>
    </div>

    <div class="col-sm-6">
      <h1>Player:</h1>
      <h3><strong>Hand:</strong> <%= @user.hand %></h3>
      <h3><strong>Total Points:</strong> <%= @user_score %></h3>
    </div>
  </div>
</div>
<br>
<br>

<!-- buttons -->
<% if @user.bankroll == 0 %>
  <p> <strong>OUT OF FUNDS</strong>You can't play again, but you can start a...</p>
<% else %>
  <form action = "/blackjack/play_again" method = "get">
    <input class="btn btn-block btn-success" type = "submit" value = "PLAY AGAIN?" name = "play_again">
  </form>
<% end %>
<form action = "/blackjack/new_game" method = "get">
  <input class="btn btn-block btn-danger" type = "submit" value = "NEW GAME?" name = "new_game">
</form>
