<%= erb :player_hand, :locals => {:player_hand => player_hand, :dealer_hand => dealer_hand, :game => game} if defined?(bet) %>

<div class="row well">
  <div class = "col-md-4 col-md-offset-4 col-centered">
    <h4><%= "Player Bankroll: #{bankroll}" %><h4>
  <% if defined?(bet) %>
    <h4><%= "Player Bet: #{bet}" %><h4>
  <% end %>
  </div>
</div>

<br>

<%= erb :place_bet if !defined?(bet) && victory == false %>

<br>


<%= erb :player_actions if defined?(bet) && !victory %>
<%= erb :new_game if victory %>
