
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-centered">
    <% dealer_hand.each do |card| %>
      <img src = <%= card %> style = "height: 250px; width: 150px">
    <% end %>
  </div>
</div>

<div class = "row">
  <div class="col-md-4 col-md-offset-4 col-centered">
    <% player_hand.each do |card| %>
     <img src = <%= card %> style = "height: 250px; width: 150px">
    <% end %>
  </div>
</div>

<div class="row">
  <div class = "col-md-4 col-md-offset-4 col-centered">
    <h4><%= "Player Bankroll: #{bankroll}" %><h4>
  </div>
</div>

<br>

<%= erb :place_bet unless defined?(bet) %>

<br>


<%= erb :player_actions if defined?(bet) %>