<h1>Sinatra Blackjack</h1>

<h2>Current Deck:</h2>
<p><%= @blackjack.cards %></p>
<h2>Number of cards left in deck:</h2>
<p><%= @blackjack.cards.length %></p>

<h2>Dealer's Hand:</h2>
<% if @round_over %>
  <% @dealer.hand.each do |card| %>
    <p><%= @blackjack.render(card) %></p>
  <% end %>
<% else %>
  <p>Hidden</p>
  <% @dealer.hand[1..-1].each do |card| %>
    <p><%= @blackjack.render(card) %></p>
  <% end %>
<% end %>
<h3>Points:</h3>
<% if @round_over %>
  <p><%= @blackjack.points(@dealer.hand) %></p>
<% else %>
  <p><%= @blackjack.points(@dealer.hand[1..-1]) %></p>
<% end %>

<h2>Player's Hand:</h2>
<% @player.hand.each do |card| %>
<p><%= @blackjack.render(card) %></p>
<% end %>
<h3>Points:</h3>
<p><%= @blackjack.points(@player.hand) %></p>

<% unless @round_over %>
  <form action="/blackjack/hit" method="post">
    <input type="submit" value="HIT">
  </form>

  <form action="/blackjack/stay" method="get">
    <input type="submit" value="STAY">
  </form>
<% else %>
  <h2>Round results</h2>
  <% case(@winner) %>
  <% when :player %>
    <p>The Player wins!!</p>
  <% when :dealer %>
    <p>The Dealer wins!!</p>
  <% when :tie %>
    <p>It's a tie!!</p>
  <% end %>

  <form action="/blackjack" method="get">
    <input type="submit" value="New Game">
  </form>
<% end %>
