<h3>Player's Hand</h3>

<p>
  <%= @hand.hands[:player][1..-1].join(" ") %> ~> total: <%= @hand.hands[:player][0] %>

  <% if @hand.hands[:player][0] > 21 %>
    <strong>BUSTED</strong>
  <% end %>

</p>



<h3>Dealer's Hand</h3>

<% if player_turn == true %>

  <%# dealer hand, hiding 2nd card %>
  <p>
    <%= "#{@hand.hands[:dealer][1]} ?" %> ~> total: ???
  </p>


  <%# available player actions %>
  <form action='/blackjack/hit' method='post'>
    <input type='submit' value='Hit'>
  </form>

  <form action='/blackjack/stay' method='post'>
    <input type='submit' value='Stay'>
  </form>


<% else %>

  <%# dealer hand, revealing all cards %>
  <p>
    <%= @hand.hands[:dealer][1..-1].join(" ") %> ~> total: <%= @hand.hands[:dealer][0] %>

    <% if @hand.hands[:dealer][0] > 21 %>
      <strong>BUSTED</strong>
    <% end %>

  </p>


  <p><strong><%= @hand.win_message if !@hand.win_message.nil? %></p></strong>


  <form action='/blackjack' method='get'>
    <input type='submit' value='Play again?'>
  </form>

<% end %>