Player:<%=  player_hand %><br>
Total:<%= get_player_score %>
<br>

<% if condition %>
Dealer:  <%=  dealer_hand %><br>
Total:<%= get_dealer_score %>
<% else %>
Dealer:  <%=  dealer_hand[1] %><br>
<% end %>
<br>
Bank: <%= get_bank %>
Bet: <%= get_bet %>
<p>
<%= condition %>
</p>
<% if condition%>

<form action="blackjack/reset" method="post" >
  <input type="submit" value="Play again?">
</form>

<% else %>

<form action="blackjack/hit" method="post" >
  <input type="submit" value="Hit" name="choice">
</form>
<br>
<form action="blackjack/stay" method="post">
  <input type="submit" value="Stay" name="choice">
</form>


<% end %>
