<%= erb :"shared/player_hand", locals: { player_hand: player_hand } %>

<%= erb :"shared/form" %>

<%= erb :"shared/dealer_hand", locals: { dealer_hand: dealer_hand } %>

<br>
<h1><%= message if message %></h1>
<h4>Player Sum <%= player_hand.sum %></h4>
<h4>Dealer Sum <%= dealer_hand.sum %></h4>

<h3>Bankroll: <%= player_hand.bankroll %></h3>

<a href="/">New Game</a>
