Player:<%=  player_hand %><br>
Total:<%= get_player_score %>
<br>
Dealer:<%=  dealer_hand %><br>
Total:<%= get_dealer_score %>
<br>
Bank: <%= get_bank %>
Bet: <%= get_bet %>

<% if condition%>

<form action="blackjack/hit" method="post" >
  <input type="submit" value="Hit" name="choice">
</form>
<br>
<form action="blackjack/stay" method="post">
  <input type="submit" value="Stay" name="choice">
</form>


<% else %>

<%= condition %>
<form action="blackjack/hit" method="post" >
  <input type="submit" value="Hit" name="choice">
</form>
<br>
<form action="blackjack/stay" method="post">
  <input type="submit" value="Stay" name="choice">
</form>


<% end %>
