<% unless outcome.nil? %>
  <%= erb :"shared/outcome", locals: { dealer: session[:dealer], player: session[:player], bankroll: session[:bankroll], outcome: session[:outcome]} %>
<% end %>


<h1>Dealers hand: <%= dealer %> </h1>
<h1>Players hand: <%= player %> </h1>
<h1>Bankroll: <%= bankroll %></h1>

<% unless bet.nil? %>
  <h1>Bet: <%= bet %></h1>
<% end %>


<form action='/blackjack/hit' method='post'>
  <% if bet.nil?%>
    <label>Amount to bet:</label>
    <input name="bet"><br>
  <% end %>
  <button type="submit" class="btn btn-default">Hit</button>
</form>

<form action='/blackjack/stay' method='post'>
  <% if bet.nil?%>
    <label>Amount to bet:</label>
    <input name="bet"><br>
  <% end %>
  <button type="submit" class="btn btn-default">Stay</button>
</form>


<form action='/blackjack/split' method='post'>
  <button type="submit" class="btn btn-default">Split</button>
</form>

<% unless deck.nil? %>
  <h1>Current shoe: <%= deck %> </h1>
<% end %>



