<!DOCTYPE html>
<div class="dealer">
  <h1>Dealer: </h1>
  <h2>A few notes on side bets... You may purchase insurance if I havea potentail blackjack showing.  You may split if you have two cards of the same rank and you may double down on your bet (taking only one additional card) if you have enough chips.  You may not double down after a split.</h2>
  <h2>Hand:
  <% if session["dealer"].reveal %>
    <% session["dealer"].hand.each do |card| %>
    <%= card.name %>
    <% end %></h2>
  <% else %>
    <%= (session["dealer"].hand[0]).name %> **
  <% end %></h2>
  <h2>Total Showing: <%= session["dealer"].total_showing %></h2>
</div>

<% session["num_players"].to_i.times do |p| %>
  <div class="players">
    <h1><%= session["player#{p}"].name %>: </h1>
    <h2>Hand: <% session["player#{p}"].hand.each do |card| %>
      <%= card.name %>
    <% end %></h2>
    <h2>Total: <%= session["player#{p}"].total %></h2>
    <h2>Bet: <%= session["player#{p}"].bet %></h2>
    <h3>Bank: $ <%= session["player#{p}"].chips %></h3>
  </div>
<% end %>

<div class="players">
  <% if session["ai"] %>
    <h1>Ben: </h1>
    <h2>Hand: <% session["ai"].hand.each do |card| %>
      <%= card.name %>
    <% end %></h2>
    <h2>Total: <%= session["ai"].total %></h2>
    <h2>Bet: <%= session["ai"].bet %></h2>
    <h3>Bank: $ <%= session["ai"].chips %></h3>
  <% end %>
</div>

<div>
  <% if session["need_insurance"] %>
    <h2>
      Conrad has a potential blackjack.  Maybe some people would like to place insurance bets.
    </h2>
    <form action="/insurance_options" method="post">
      <input type="submit" autofocus value="Go to Insurance Options" />
    </form>
  <% elsif session["player_blackjack"] %>
    <h2>
      At least one player has a blackjack.  Let's settle that up first.
    </h2>
    <form action="/player_blackjack_options" method="post">
      <input type="submit" autofocus value="Settle Up" />
    </form>
  <% elsif session["player_split"] %>
    <h2>
      At lease one player has the right cards for a split.  Let's give them that options.
    </h2>
    <form action="/split_turn_reset" method="post">
      <input type="submit" autofocus value="Go to split options" />
    </form>
  <% elsif session["player_double"] %>
    <h2>
      At least one player has enough chips to double down.  Let's give them that option.
    </h2>
    <form action="/double_turn_reset" method="post">
      <input type="submit" autofocus value="Settle Up" />
    </form>
  <% else %>
    <h2>
      Let's start with <%= session["player0"].name %> and see if they'd like to hit or stay.
    </h2>
    <form action="/standard_options" method="post">
      <input type="submit" autofocus value="Let's get started!" />
    </form>
  <% end %>
</div>
