<h1>Blackjack Page</h1>

<h3>Dealer's Cards</h3>
<p>
  <% dealer.hand.each do |card| %>
  <%= display_card(card) %></br>
  <% end %>
  <strong>Total: <%= dealer.hand_value %></strong>
</p>

<h3>Your Cards</h3>
<p>Bankroll: $<%= player.bankroll %> | Bet: $<%= bet %></p>
<p>
  <% player.hand.each do |card| %>
  <%= display_card(card) %></br>
  <% end %>
  <strong>Total: <%= player.hand_value %></strong>
</p>

<% unless game_over %>
  <form action="/blackjack/hit" method="post">
    <input type="submit" value="Hit"/>
  </form>

  <form action="/blackjack/stay" method="get">
    <input type="submit" value="Stay"/>
  </form>
<% end %>

<% if game_over %>
  <hr>
  <h1><%= display_winner(winner) %></h1>
  <form action="/" method="get">
    <input type="submit" value="Play Again" />
  </form>
<% end %>