<!-- display if you haven't been here -->
<h1>Welcome to your table, go ahead and take seat</h1>

<!-- display if you've started game -->
<h2>Player hand: <%= player_hand %>  Total: <%= player_total %></h2>
<h2>Dealer showing:
  <% if message == "What's your next move?" %>
    <%= dealer_hand[1..-1] %> Dealer showing: <%= dealer_showing %>
  <% else %>
    <%= dealer_hand %> Dealer total: <%= check_hand(dealer_hand) %>
  <% end %>
</h2>
<h2>Your current bet is <%= bet %> and your current bankroll is <%= bankroll %></h2>

<h3><%= message %></h3>

<% if message ==  "What's your next move?" %>
  <form action="blackjack/hit" method="post">
    <input type="submit" value="Hit me!">
  </form>
  <form action="blackjack/stay" method="get">
    <input type="submit" value="I'll stay...">
  </form>
  <% if player_hand.length == 2 %>
    <form action="blackjack/double" method="get">
      <input type="submit" value="Double down!">
    </form>
    <% if player_hand[0][0] == player_hand[1][0] %>
      <form action="blackjack/split" method="get">
        <input type="submit" value="Split em.">
      </form>
    <% end %>
  <% end %>
<% end %>

<form action="blackjack/reset" method="get">
  <input type="submit" value="Deal a new hand">
</form>
