<h1>Player's Hand</h1>
<% player_hand.each do |card| %>
<%= card.suit %><%= card.value %><br>
<% end %>


<form action="/blackjack/stay" method="get">
  <input type="submit" value="Stay!">
</form>
<form action="/blackjack/hit" method="post">
  <input type="submit" value="Hit!">
</form>

<h1>Dealer's Hand</h1>
<% dealer_hand.each do |card| %>
<%= card.suit %><%= card.value %><br>
<% end %>


<br>
<% if message %>
  <h1><%= message %></h1>
<% end %>

<% if player_sum %>
  <h1>Player Sum <%= player_sum %></h1>
<% end %>
<% if dealer_sum %>
  <h1>Dealer Sum <%= dealer_sum %></h1>
<% end %>

