<%if message%>
<h2><%=message%>
<% end%>
<%if message%>
<form method="post" action="next_hand">
  <button type="submit" value="next_hand">Next Hand</button>
</form>
<%end%>

<h2>Dealer</h2>
<p> Hand:</p>
<ul>
  <%if message%>
    <% dealer_hand.each do |card| %>
    <li><img width=150px height=200px src = "/Classic/<%=card[1]%><%=card[0]%>.png"></li>
    <%end%>
  <%else%>
    <li><img width=150px height=200px src="/Classic/<%= dealer_hand[0][1] %><%= dealer_hand[0][0] %>.png"></li>
  <%end%>
</ul>
<% if message %>
<p> Total is <%= dealer_sum%> </p>
<% end %>

<h2>Player 1</h2>
<p>Hand:<p>
<ul>
  <%player_hand.each do |card| %>
  <li><img width=150px height=200px src = "/Classic/<%=card[1]%><%=card[0]%>.png"></li>
  <%end%>
</ul>
<p> Total is  <%= player_sum%> </p>

<% unless message %>
  <form method="post" action="hit">
    <button type="submit" value="hit">Hit</button>
  </form>

  <form method="post" action="stand">
    <button type="submit" value="Stand">Stand</button>
  </form>
<% end %>  

<!--
<button type="submit" value="Double">Double Down</button>
<button type="submit" value="Split">Split</button>
-->


