<!DOCTYPE html>
<div class="dealer">
  <h1>Dealer</h1>
  <h2>I have a blackjack.  If you made an insurance wager I will pay out 2:1.  If you also have a blackjack, we'll call it a draw.  Everyone else will lose the original bet.</h2>
  <h2>Hand:
  <% if session["dealer"].reveal %>
    <% session["dealer"].hand.each do |card| %>
    <%= card.name %>
    <% end %></h2>
  <% else %>
    <%= (session["dealer"].hand[0]).name %> **
  <% end %></h2>
  <h2>Total Showing: <%= session["dealer"].total_showing %></h2>
</div>

<% session["num_players"].to_i.times do |p| %>
  <div class="players">
    <h1><%= "Player #{p + 1}:" %> </h1>
    <h2>Hand: <% session["player#{p}"].hand.each do |card| %>
      <%= card.name %>
    <% end %></h2>
    <h2>Total: <%= session["player#{p}"].total %></h2>
    <h2>Bet: <%= session["player#{p}"].bet %></h2>
    <h2>Insurance: <%= session["player#{p}"].insurance_bet %></h2>
    <h3>Bank: $ <%= session["player#{p}"].chips %></h3>
  </div>
<% end %>

<div class="players">
  <% if session["ai"] %>
    <h1>Ben: </h1>
    <h2>Hand: <% session["ai"].hand.each do |card| %>
      <%= card.name %>
    <% end %></h2>
    <h2>Total: <%= session["ai"].total %></h2>
    <h2>Bet: <%= session["ai"].bet %></h2>
    <h2>Insurance: <%= session["ai"].insurance_bet %></h2>
    <h3>Bank: $ <%= session["ai"].chips %></h3>
  <% end %>
</div>

<div>
    <form action="settle_dealer_blackjack" method="post">
      <input type="submit" autofocus value="Settle Up!" />
    </form>
</div>
