<h1><%= winner.capitalize %> Wins!</h1>

<h2>Dealer Hand</h2>
<ul>
  <%= partial :cards, locals: {cards: dealer_hand } %>
</ul>
<p>
  Score: <%= scores.last %>
</p>

<h2>Player Hand</h2>
<ul>
  <%= partial :cards, locals: {cards: player_hand } %>
</ul>

<p>
  Score: <%= scores.first %>
</p>

<p>
  <a href="/blackjack/new">Start a New Game</a>
</p>