<h1><%= winner.capitalize %> Wins!</h1>

<h2>Dealer Hand</h2>
<ul>
  <%= partial :cards, locals: {cards: dealer_hand } %>
</ul>
<p>
  Score: <%= scores.last %>
</p>

<h2>Player Hand</h2>
<p>New Bankroll: $<%= bankroll %> (bet was $<%= bet %>)</p>
<ul>
  <%= partial :cards, locals: {cards: player_hand } %>
</ul>

<p>
  Score: <%= scores.first %>
</p>

<p>
  <a href="/blackjack/bet">Next round</a>
</p>
<p>
  <a href="/blackjack/player/new">Cancel and start with a fresh bankroll</a>
</p>