<h1><%= winner %></h1>

<div class="row">
  <div class="col-sm-6">
    <h2>Dealer Hand <small>(<%= scores.last %> points)</small></h2>
    <%= partial :cards, locals: {cards: dealer_hand, hide_first: false } %>
  </div>

  <div class="col-sm-6">
    <h2>Player Hand <small>(<%= scores.first %> points)</small></h2>
    <%= partial :cards, locals: {cards: player_hand, hide_first: false } %>
    <p><strong>New Bankroll:</strong> $<%= bankroll %> (bet was $<%= bet %>)</p>

    <p>
      <a href="/blackjack/bet" class='btn btn-danger'>Next round</a>
      <a href="/blackjack/player/new" class='btn btn-default'>Restart with a fresh bankroll</a>
    </p>
  </div>
</div>


