<h1>You <%= outcome %>!!</h1>

<h2> Your hand was <%= player_cards %>, worth <%= player_points %> points.</h2>

<h2> The dealer's hand was <%= dealer_cards %>, worth <%= dealer_points %> points.</h2>

 <h2> You <%=outcome%> <%= bet %> dollars, for a total remaing pot of <%= bankroll %></h2>

 <form action="/blackjack" method="get">
   <input type="submit" value="Play again?">
 </form>

 <form action="/" method="get">
   <input type="submit" value="Home">
 </form>
