<h1>The game has ended!</h1>

<h2> Your hand was <%= player_cards %>, worth <%= player_points %></h2>

<h2> The dealer's hand was <%= dealer_cards %>, worth <%= dealer_points %></h2>

<h2>You <%= outcome %> and <%=outcome%> <%= bet %> dollars, for a total remaing pot of <%= bankroll %></h2>

