<div class="container">
  <h1>Game</h1>

  <div class="row">
    <div class="col-sm-6">
      <h3>Total Player Bankroll</h3>
      <h3><%= @blackjack.player_bankroll %></h3>
    </div>
    <div class="col-sm-6">
      <h3>Current Bet</h3>
      <h3><%= @blackjack.player_bet %></h3>
    </div>
  </div>

  <h2>Dealer Hand <span class="label label-primary"><%= @blackjack.dealer_hand.best_value %></span></h2>
  <div class="row">
    <div class="dealer-hand">
      <ul>
        <% @blackjack.dealer_hand.cards.each do |card| %>
          <%= erb :"shared/card", locals: {card: card} %>
        <% end %>
      </ul>
    </div>
  </div>

  <h2>Your Hand <span class="label label-primary"><%= @blackjack.player_hand.best_value %></span></h2>
  <div class="row">
    <div class="player-hand">
      <ul>
        <% @blackjack.player_hand.cards.each do |card| %>
          <%= erb :"shared/card", locals: {card: card} %>
        <% end %>
      </ul>
    </div>
  </div>
  <% if session[:status] == "round_over" %>
    <%= erb :"shared/game_result" %>
  <% else %>
    <%= erb :"shared/action_buttons" %>
  <% end %>

</div>
