<div class="container">
  <h1>Game</h1>

  <div class="row">
    <div class="player-hand">
      <ul>
        <%= erb :"shared/card" %>
        <%= erb :"shared/card" %>
        <%= erb :"shared/card" %>
        <%= erb :"shared/card" %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="dealer-hand">
      <ul>
        <%= erb :"shared/card" %>
        <%= erb :"shared/card" %>
        <%= erb :"shared/card" %>
        <%= erb :"shared/card" %>
      </ul>
    </div>
  </div>
</div>

