<div class="container">
  <h1>Blackjack</h1>

  <div class="row">
    <div class="col-sm-6">
      <h3>Total Player Bankroll</h3>
      <h3><%= @blackjack.player_bankroll %></h3>
    </div>
    <div class="col-sm-6">
      <h3>Current Bet</h3>
      <h3><%= @blackjack.player_bet %></h3>
    </div>
  </div>


  <% if session[:status] == "bet" %>
    <%= erb :"shared/bet" %>
  <% elsif session[:status] == "round_over" %>
    <%= erb :"shared/hand", locals: {hand: @blackjack.dealer_hand }%>
    <%= erb :"shared/hand", locals: {hand: @blackjack.player_hand }%>
    <%= erb :"shared/game_result" %>
  <% else %>
    <%= erb :"shared/hidden_hand", locals: {hand: @blackjack.dealer_hand }%>
    <%= erb :"shared/hand", locals: {hand: @blackjack.player_hand }%>
    <%= erb :"shared/action_buttons" %>
  <% end %>
</div>
