<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Bankroll <label class="label label-success"><%= @blackjack.player_bankroll %></label></h3>
    </div>
    <div class="col-sm-6">
      <h3>Current Bet <label class="label label-warning"><%= @blackjack.player_bet %></label></h3>
    </div>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: <%= @blackjack.percent_bank %>%">
    </div>
    <% if session[:status] == "active" %>
    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= @blackjack.percent_bet %>%">
    </div>
    <% elsif @blackjack.winner == :player %>
    <div class="progress-bar progress-bar-success progress-bar-striped" style="width: <%= @blackjack.percent_bet %>%">
    </div>
    <% elsif @blackjack.winner == :dealer %>
    <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: <%= @blackjack.percent_bet %>%">
    </div>
    <% end %>
  </div>


  <% if session[:status] == "bet" %>
    <%= erb :"shared/bet" %>
  <% elsif session[:status] == "round_over" %>
    <%= erb :"shared/hand", locals: {hand: @blackjack.dealer_hand }%>
    <%= erb :"shared/hand", locals: {hand: @blackjack.player_hand }%>
    <%= erb :"shared/game_result" %>
  <% else %>
    <%= erb :"shared/hidden_hand", locals: {hand: @blackjack.dealer_hand }%>
    <%= erb :"shared/hand", locals: {hand: @blackjack.player_hand }%>
    <%= erb :"shared/action_buttons" %>
  <% end %>
</div>
