<!DOCTYPE html>
<div class="dealer">
  <h1>Dealer: </h1>
  <h2>Hand:
  <% if session["dealer"].reveal %>
    <% session["dealer"].hand.each do |card| %>
    <%= card.name %>
    <% end %></h2>
  <% else %>
    <%= (session["dealer"].hand[0]).name %> **
  <% end %></h2>
  <h2>Total Showing: <%= session["dealer"].total_showing %></h2>
  <h2>You will each, in turn, have the option to take as many additional cards as you like until you decide to stand or you bust by going over a total of 21. Remember, if you doubled down you will only receive one card.</h2>
  <h2><%= session["standard_message"] %></h2>
</div>

<% session["num_players"].times do |p| %>
  <div class="players">
    <h1><%= session["player#{p}"].name %>: </h1>
    <h2>Hand: <% session["player#{p}"].hand.each do |card| %>
      <%= card.name %>
    <% end %></h2>
    <h2>Total: <%= session["player#{p}"].total %></h2>
    <h2>Bet: <%= session["player#{p}"].bet %></h2>
    <h3>Bank: $ <%= session["player#{p}"].chips %></h3>
    <h3>
      <form action="/standard_options" method="post">
        <input type="radio" name="hit" value="yes" <%= ((session["turn"] != p) && (!session["player#{p}"].hand_stand))  ? "disabled" : "enabled autofocus" %> >Hit
        <input type="radio" name="hit" value="no" <%= ((session["turn"] != p) && (!session["player#{p}"].hand_stand))  ? "disabled" : "enabled autofocus" %> >Stand
        <br />
        <input type="submit" value="Make Move" autofocus style='<%= ((session["turn"] == p) && (!session["player#{p}"].hand_stand)) ? "visibility: visible;" : "visibility: hidden;"%>'>
      </form>
    </h3>
    <% if session["player#{p}"].split_total != 0 %>
      <h2>Split: <% session["player#{p}"].split_hand.each do |card| %>
        <%= card.name %>
      <% end %></h2>
      <h2>Total: <%= session["player#{p}"].split_total %></h2>
      <h2>Bet: <%= session["player#{p}"].split_bet %></h2>
      <h3>Bank: $ <%= session["player#{p}"].chips %></h3>
      <h3>
      <form action="standard_options" method="post">
        <input type="radio" name="split_hit" value="yes"<%= session["turn"] != p ? "disabled" : "enabled autofocus" %> >Hit
        <input type="radio" name="split_hit" value="no" <%= session["turn"] != p ? "disabled" : "enabled autofocus" %> >Stand
        <br />
        <input type="submit" autofocus value="Make Move" style='<%= ((session["turn"] == p) && (session["player#{p}"].hand_stand)) ? "visibility: visible;" : "visibility: hidden;"%>'>
        </form>
      </h3>
    <% end %>
  </div>
<% end %>

<div class="players">
  <% if session["ai"] %>
  <h1>Ben: </h1>
  <h2>Hand: <% session["ai"].hand.each do |card| %>
    <%= card.name %>
  <% end %></h2>
  <h2>Total: <%= session["ai"].total %></h2>
  <h2>Bet: <%= session["ai"].bet %></h2>
  <h3>Bank: $ <%= session["ai"].chips %></h3>
  <% end %>
</div>

<form action='/end_functions' method='post'>
  <input type="submit" autofocus value="Settle Wagers" >
</form>
