<p>Player hand:</p>
<ul>
  <% player_hand.cards.each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>
Value: <%= player_hand.value %>

<p>Dealer hand:</p>
<ul>
  <% dealer_hand.cards.each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>
<p>Value: <%= dealer_hand.value %></p>

<strong><%= winning_message %></strong>

<a href="/">Start a new game</a>
